.navbar {
    border-bottom: 10px solid #006400;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}