body {
    padding-top: 90px;
}

section {
    padding: 60px 0;
    min-height: 400px;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

.menu-item img {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 30px 0;
}

.navbar-custom {
    background-color: burlywood !important;
}

.navbar-brand,
.nav-link {
    color: rgb(0, 100, 0) !important;
}

.nav-link.active {
    font-weight: bold;
}

.btn-outline-success {
    color: rgb(0, 100, 0);
    border-color: rgb(0, 100, 0);
    margin-left: 5px;
}

.btn-outline-success:hover {
    background-color: rgb(0, 100, 0);
    color: white;
}

.btn-success {
    background-color: rgb(0, 100, 0);
    border-color: rgb(0, 100, 0);
    color: white;
    margin-left: 5px;
}

.btn-success:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}

.btn-outline-danger {
    margin-left: 5px;
}
